.stagger {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 19rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 1.5rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  padding: 1px 0;
}

.square {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: 1px solid white;
}
